<!-- bebida-ficha.component.html -->
<link href="https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap" rel="stylesheet">

@if(bebida) { 
  <div class="fichaContainer" style="font-family: 'Times New Roman', serif;">
      <h3>{{ bebida.nombre }}</h3>
      <div class="imgContenedor">
        <img [src]="bebida.image" alt="{{ bebida.nombre }}">
      </div>
    <div class="info">
        <p><strong></strong> {{ bebida.clase }}</p>
        <p>{{ bebida.cepa }}</p>
        <p><i class="bi bi-shop"><strong> Bodega:</strong> {{ bebida.bodega }}</i></p>
          <div class="maridaje">
            <div class="card-header">
              <h5>
                Maridaje
              </h5>
            </div>
            <div class="card-body">
              <div> 
                {{ bebida.maridaje }}
              </div>
            </div>
          </div>   
    </div>
  </div>
}
@else {
  <p>Cargando los detalles de la bebida...</p>
}
