<footer class="footer">
    <h5 class="subLogo">
        <p class="subMain">RK VINOS</p> 
        <p style="color: white;" class="subb">Vinos argentinos!</p>
    </h5>
    <ul style="color: white;">
        <li>
            <i class="bi bi-envelope-at-fill"></i> vinosdelsur837&#64;gmail.com
        </li>
        <li>
            <i class="bi bi-whatsapp"></i> +54 (0381) 328-0297
        </li>
    </ul>
</footer>

<div class="firma">
    <p class="rk">© RK Almacén de Bebidas</p>
</div>